#nav{
    height: 50px;
    clear: both;
    background-color: whitesmoke;
    position: relative
}
.navBrand{
    font-family: 'Monoton', 'cursive';
    font-size: 38px;
    color: navy;
    padding: 0;
    margin-top: 0;
    cursor: pointer;
    float: left;
}
.navRight{
    float: right;
    font-size: 15px;
    color: navy;
    margin: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navBrand {
        font-size: 25px;
        margin-top: 7px;
        }
        .navRight{
            font-size: 10px;
        }
    }