.prodImg{ 
    height: 450px;
    width: 300px;
    cursor: pointer;
}
.pp{
    padding: 25px;
    text-align: center;
    height: 570px;
}
.viewBtn{
    position: relative;
    margin-top: 5px;
}
.prodInfo{
    font-size: 15px;
    padding: 7px;
}