@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-dialog{
    width: 80%;
    height: 100%;
    animation-name: fadein;
    animation-duration: 2s;
}
.modal{
background-color: #777777f2;
}
.modal-content{
    color: navy
}
.details{
    text-align: center;
    margin: 0;
    padding: 0
}
.prodDetName{
    font-size: 30px;
    padding: 20px;
}
.prodDetInfo{
    font-size: 15px;
    padding: 5px;
}
.cartBtn{
    width: 200px;
}
.detImg{
    height: 500px;
    width: 345px
}

@media only screen and (max-width: 768px) {
    .detImg{ 
            height: 450px;
            width: 300px;
            cursor: pointer;
    }
    .modal-dialog{
        width: 95%
    }
}
